BETTER_AUTH_SECRET=

HOST_DATABASE_URL=
HOST_DATABASE_AUTH_TOKEN=

API_DATABASE_URL=
API_DATABASE_AUTH_TOKEN=

RELAYER_ACCOUNT_ID=
RELAYER_PRIVATE_KEY=
FASTNEAR_API_KEY=

CROSSPOST_BASE_URL=https://api.opencrosspost.com
CROSSPOST_TIMEOUT=10000